* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #14294e;
}

#mainBox {
  background: rgb(129,141,247);
  background: radial-gradient(circle, rgba(129,141,247,1) 0%, rgba(20,41,78,1) 100%, rgba(243,234,232,1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

#formLogin {
  background-color: white;
  border-radius: 5%;
  padding: 2vh;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: 20vw;
  height: auto;
  min-width: 200px;
  min-height: 300px;
}

.formTitle {
  text-align: center;
  font-size: 5vh;
}

.InputBox {
  display: flex;
  min-height: 50px;
  flex-direction: column;
  justify-content: space-around;
}

#aCreateUser {
  text-align: center;
  color: rgb(20, 41, 78);
  font-size: 12px;
}
#aCreateUser:hover {
  color: rgba(129,141,247);
}

input {
  border-radius: 5px;
  border: 1px solid gray;
  min-height: 20px;
  padding-left: 5px;
}

button {
  background-color: rgba(129,141,247);
  border: 1px solid;
  height: 25px;
  border-radius: 10px;
  box-shadow: 0px 2px 2px rgb(20, 41, 78, 0.8);
}

button:hover {
  transform: translateY(-2px);
  box-shadow: 0px 5px 5px rgba(129,141,247, 1);
  cursor: pointer;
}
