
<div id="mainBox">
  <h1>Sala de Chat</h1>
  <div id="chatBox">
    <div class="chat">
      <p id="messageList"></p>
    </div>
  </div>
  <div id="inputBox" class="chat">
    <input type="text" id="chatInput">
    <button id="chatButton">Enviar</button>
  </div>
</div>
