<form id="formLogin" submit="createUser()">
  <h2 class="formTitle">{{title}}</h2>
  <div class="InputBox">
    <label for="inputName" class="lblInput">Nombre</label>
    <input type="text" id="inputName" class="formInput" placeholder="Nombre" name="inputEmail" required autofocus>
  </div>
  <div class="InputBox">
    <label for="inputName" class="lblInput">Apellido</label>
    <input type="text" id="inputName" class="formInput" placeholder="Apellido" name="inputEmail" required autofocus>
  </div>
  <div class="InputBox">
    <label for="inputEdad" class="lblInput">Edad</label>
    <input type="number" id="inputEdad" class="formInput" placeholder="Edad" name="inputEmail" required autofocus>
  </div>
  <div class="InputBox">
    <label for="inputEmail" class="lblInput">Usuario</label>
    <input type="email" id="inputEmail" class="formInput" placeholder="Correo electrónico" name="inputEmail" required autofocus>
  </div>
  <div class="InputBox">
    <label for="inputPassword" class="lblInput">Contraseña</label>
    <input type="password" id="inputPassword" class="formInput" placeholder="Password" name="inputPassword" required>
  </div>
  <div class="InputBox">
    <button id="btnLogin" type="submit">Crear Usuario</button>
    <a href="/login" id="aCreateUser">Volver</a>
  </div>
</form>