* {
    margin: 0px;
    padding: 0px;
}

body {
  background-color: #14294e;
  display: flex;
  justify-content: center;
  align-items: center;
}

#mainBox {
  background-color: #818df7;
  display: block;
  min-height: 100vh;
  width: 80%;
}

h1 {
  text-align: center;
  color: #f3eae8;
  border-bottom: 1px solid #14294e;
  background-color: #43589d;
  position: fixed;
  top: 0;
  width: inherit;
  height: 40px;
}

table {
  margin-top: 50px;
  width: 100%;
}

th {
  background-color: #43589d;
  color: #ddd;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

tbody {
  background-color: #ddd;
  color: black;
}

th, td {
  padding: 2px 4px;
}

.paginationBox {
  margin-top: 10px;
  text-align: center;
}
.pagination {
  display: inline-block;
  justify-content: center;
  align-content: center;
}

.pagination a {
  color: black;
  float: left;
  font-weight: bold;
  padding: 8px 16px;
  background-color: transparent;
  text-decoration: none;
}

.pagination a.active {
  background-color: #43589d;
  color: white;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}