    <div id="formNewProduct">
      <div class="labelNewProduct">
        <label for="titleForm">Titulo:</label>
        <input name="titleForm" id="titleForm" type="text">
      </div>
      <div class="labelNewProduct">
        <label for="codeForm">Codigo:</label>
        <input name="codeForm" id="codeForm" type="text">
      </div>
      <div class="labelNewProduct">
        <label for="descriptionForm">Descripción</label>
        <input name="descriptionForm" id="descriptionForm" type="text">
      </div>
      <div class="labelNewProduct">
        <label for="priceForm">Precio</label>
        <input name="priceForm" id="priceForm" type="number" step="0.01">
      </div>
      <div class="labelNewProduct">
        <label for="stockForm">Stock</label>
        <input name="stockForm" id="stockForm" type="number">
      </div>
      <div class="labelNewProduct">
        <label for="imgForm">Imagenes</label>
        <input name="imgForm" id="imgForm" type="file" accept="image/png, image/jpeg" multiple="multiple" name="files[]"/>
      </div>
      <div class="labelNewProduct">
        <label for="categoryForm">Categoria:</label>
        <select name="categoryForm" id="categoryForm">
          <option value="Dogs">Perros</option>
          <option value="Cats">Gatos</option>
        </select>
      </div>
      <input id="btnAddProduct" type="button" value="Agregar">
    </div>